// Infraestructura Section

.overlapping-layout {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    padding: 2rem 0;

    @media (max-width: $bp-desktop) {
        flex-direction: column;
    }

    &__text {
        flex: 1;
        padding-right: 40px;
        z-index: 2;

        @media (max-width: $bp-desktop) {
            padding-right: 0;
            margin-bottom: 40px;
        }
    }

    &__images {
        flex: 1;
        position: relative;
        height: 500px;
        width: 100%;

        @media (max-width: $bp-desktop) {
            height: 400px;
        }

        .img-back {
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: auto;
            z-index: 1;
            object-fit: cover;
        }

        .img-front {
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 65%;
            height: auto;
            z-index: 2;
            border: 8px solid $color-white;
            object-fit: cover;
        }
    }
}